{{define "modalRegistration"}}


<div id="modalRegistration">
    <a href="#"></a>
    <section>
        <form>
            <div>
                <span><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Ваш Email адрес" required autofocus>
            </div>
            <div>
                <span><i class="fa fa-envelope"></i></span>
                <input type="text" name="name" placeholder="Ваше имя" required autofocus>
            </div>

            <div>
                <span><i class="fa fa-lock"></i></span>
                <input type="password" name="password" placeholder="Ваш пароль" required>
            </div>

            <div class="controls">
                <button type="submit" class="button">
                    <i class="fa fa-chevron-right"></i>
                    Зарегистрироваться
                </button>

                <a href="#"><i class="fa fa-times"></i> Выйти</a>
            </div>
        </form>
    </section>
</div>
<style>
    html {
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    html body {
        height: 100%;
    }
    html body #intro {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    html body #intro * {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    html body #modalRegistration{
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(0);
        transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
        overflow: hidden;
    }
    html body #modalRegistration:focus, html body #modalRegistration:target {
        transform: scale(1);
    }
    html body #modalRegistration > a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: default;
    }
    html body #modalRegistration section {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 400px;
        padding: 25px;
        box-sizing: border-box;
        background-color: #fff;
        transform: translate(-50%, -50%);
    }
    html body #modalRegistration form div {
        position: relative;
        min-height: 50px;
        margin-top: 25px;
    }
    html body #modalRegistration form div:first-of-type {
        margin-top: 0;
    }
    html body #modalRegistration form div span {
        position: absolute;
        z-index: 5;
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background-color: #D0E26C;
        font-size: 20px;
    }
    html body #modalRegistration form div input[type="email"], html body #modalRegistration form div input[type="password"], html body #modalRegistration form div input[type="text"] {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50px;
        padding-left: 65px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        border-color: #ddd;
        border-width: 1px;
        border-style: solid;
        transition: background-color 0.25s;
    }
    html body #modalRegistration form div input[type="email"]:hover, html body #modalRegistration form div input[type="email"]:focus, html body #modalRegistration form div input[type="password"]:hover, html body #modalRegistration form div input[type="password"]:focus, html body #modalRegistration form div input[type="email"]:focus, html body #modalRegistration form div input[type="text"]:hover, html body #modalRegistration form div input[type="text"]:focus {
        outline: none;
        background-color: #ddd;
    }

    html body #modalRegistration form div.controls a {
        margin-left: 25px;
        text-decoration: none;
        color: #aaa;
    }
    html body #modalRegistration form div.controls a:hover, html body #modalRegistration form div.controls a:focus {
        color: #777;
    }
    html body #modalRegistration form div.controls a:active {
        color: #666;
    }
    html body #modalRegistration form div button {
        margin-left: 50px;
    }
    html body #modalRegistration .button {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #D0E26C;
        color: #fff;
        border: none;
        text-decoration: none;
    }
    html body #modalRegistration .button:hover, html body #modalRegistration .button:focus {
        outline: none;
        background-color: #e5892e;
    }
    html body #modalRegistration .button:active {
        background-color: #cc7a29;
    }

</style>
{{ end }}